@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar-items{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: white; 
}

.logo{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: cornflowerblue;
}

ul{
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    list-style: none;
    font-size: 15px;
    font-weight: bold;
}


html {
    font-family: Quicksand, sans-serif;
    background-color: #f4f4f4;
    
}