@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.container {    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.signup-button {
    background-color: #4caf50;
    padding: 10px;
    color: white;
    margin: 13px 0;
    width: 100px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}

a:hover{
    color: cornflowerblue;
}

html {
    font-family: Quicksand, sans-serif;    
}